body{
    background-color: red;
    text-align: center;
}
.title{
    text-transform: uppercase;
    color: blue;
    font-size: 60px;
    text-shadow: 3px 3px black;
}
h2{
    color: white;
    align-self: center;
    text-shadow: 3px 3px black;
}
button{
    background-color: white;
    padding: 10px 24px;
    border-radius: 8px;
}
button:hover{
    box-shadow: 0 4px 10px 0 white, 0 3px 10px 0 white;
}